<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	</head>
	<body>
        <div class="main-bar">
           	<div class="logo"><a class="logo-link" href="/">CCC</a></div>
           	<div class="horizontal-scroller">
           	    {% for project in collections.projects %}
					<div>
           	        	<a class="navlink" href="{{ project.url }}">{{ project.data.title }}</a>
					</div>
           	    {% endfor %}
				<div><a class="navlink" href="/project_list">All Projects</a></div>
				<div><a class="navlink" href="/about">About</a></div>
         	</div>
        </div>
		<main>
			{{ content }}
		</main>
		<script>
			// This small script allows the horizontal scroller to work with the mouse wheel
			document.addEventListener('DOMContentLoaded', (event) => {
			    const scroller = document.querySelector('.horizontal-scroller');
			    if (scroller) {
			        scroller.addEventListener('wheel', (evt) => {
			            evt.preventDefault();
			            scroller.scrollLeft += evt.deltaY;
			        });
			    }
			});
		</script>
	</body>
</html>