
<div class="main-bar">
    <div class="logo">
    </div>
    <div class="horizontal-scroller">
        <div><a class="navlink" href="/gallery">All</a></div>
        <!-- <div><a class="navlink" href="/random/{{ here i should get a random slug from projects }}">Random</a></div> -->
        <div><a class="navlink random-link" href="#">Random</a></div>
        <div><a class="navlink" href="/wall-of-sound">Wall of Sound</a></div>
        <div><a class="navlink" href="/">Cinema</a></div>
        <div><a class="navlink" href="/">Fanzine</a></div>
        <div><a class="navlink" href="/"><img src="/media/icon/cookie_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"></a></div>
    </div>
</div>

<script>
    var projectSlugs = [
        {% for project in projects %}
            "{{ project.title | slugify }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];

    function getRandomSlug() {
        return projectSlugs[Math.floor(Math.random() * projectSlugs.length)];
    }

    document.addEventListener("DOMContentLoaded", function() {
        var randomSlug = getRandomSlug();
        var randomLink = document.querySelector('.random-link');
        randomLink.href = "/projects/" + randomSlug;
    });

</script>

<style>

    .main-bar
    {
        display: flex;
        width: 100%;
        height: var(--navigation-size);
        background-color: #333;
        color: white;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .logo img
    {
        line-height: var(--navigation-size);
        padding: 0 10px;
    }

    .logo-link
    {
        text-decoration: none;
        color: white;
    }

    .logo a:hover
    {
        background-color: #333;
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .horizontal-scroller
    {
        display: flex;
        gap: 16px;
        padding: 16px;
        /**used to scroll text*/
        white-space: nowrap;    
        overflow-x: scroll;
        scrollbar-width: none;
        overflow-y: hidden;
    }

    .navlink
    {
        white-space: nowrap;
        text-decoration: none;
        color: white;
        font-size: 2vh;
        padding-left: 1vh;
        padding-right: 1vh;
        width: 100%;
    }

    .navlink:hover
    {
        background: white;
        color: black;
        padding: 1vh;
        padding-bottom: 1vh;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

</style>
