/* variables */

:root
{
    --navigation-size: 60px;
}

/* globals */

body, html
{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: #fff;
}

/* effects */

.text-shadow
{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box-shadow
{
    box-shadow: 0px 0px 5px #111;   
}

.borders
{
    border-radius: 10px;
}

.frost
{
    backdrop-filter: blur(40px) brightness(70%);
    border-radius: 5px;
}

.terminal
{
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px black inset;
    text-shadow: 0 0 10px green;
}