---
title: Cookie Compilation
---
{%include "head.njk" %}
{%include "navigation.njk"%}

<div class="container">
    <video autoplay muted loop>
        <source src="/media/ccc.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<div>
    <h1>Bonjour je veux écrire quelque chose</h1>
</div>

<style>

    .container
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .card
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

</style>