---
title: Cookie Compilation
---
{%include "head.njk" %}
{%include "navigation.njk" %}

<div class="container">
    <iframe src="/media/fanzine.pdf" width="800em" height="2100"></iframe>
</div>

<style>

    .container
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .card
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title
    {
        display: block;
        padding: 5px 20px;

        font-size: 9em;
        color: white;
    }

    .cookie-logo
    {
        height: 300px;
        border-radius: 150px;
    }

    p
    {
        color: white;
        padding: 10px 15px;
        text-align: left;
    }

</style>
