{%include "head.njk" %}
{%include "navigation.njk" %}

<div class="gallery-page">
    <div class="container">
        <video class="video-background" autoplay muted loop>
            <source src="/media/ccc.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="gallery" id="gallery-container">
            {% for project in projects | shuffle %}
            <div class="gallery-item frost box-shadow">
                <a href="/projects/{{ project.folder | slugify }}">
                    <!-- Ici, récupérer les fichiers et insérer les vidéos en fond -->
                    <video class="video-preview" muted autoplay loop alt="{{ project.title }}">
                        <source type="video/mp4" src="/content/projects/{{project.folder}}/reduced.mp4" />
                    </video>
                    <div class="gallery-item-content">
                        <h1 class="gallery-title">{{ project.title }}</h1>
                        <h2 style="text-align: center;">
                            <span style="display: inline-block; vertical-align: middle;">{% phicon "eye", "duotone", {style: "color:white", size: 16} %} : {{ project.videast.name }}</span>
                        </h2>
                        <h2 style="text-align: center;">
                            <span style="display: inline-block; vertical-align: middle;">{% phicon "ear", "duotone", {style: "color:white", size: 16} %} : {{ project.musician.name }}</span>
                        </h2>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>

    .container
    {
        padding-top: 20px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .video-background
    {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-preview
    {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const gallery = document.getElementById('gallery-container');
        const items = Array.from(gallery.children);

        /**
         * Shuffles the elements in an array using the Fisher-Yates algorithm.
         *
         * @param {Array} array - The array to be shuffled.
         * @returns {Array} - The shuffled array.
         */
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        /**
         * Shuffles the gallery items and appends them to the gallery element.
         */
        function shuffleGallery() {
            const shuffledItems = shuffleArray(items);
            shuffledItems.forEach(item => gallery.appendChild(item));
        }

        shuffleGallery();
    });

</script>