{%include "head.njk" %}
{%include "navigation.njk" %}

<div class="container">
    <video class="video-background" autoplay muted loop>
        <source src="/media/ccc.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="gallery">
        {% for project in projects | shuffle %}
        <div class="gallery-item frost box-shadow">
            <a href="/projects/{{ project.folder | slugify }}">
                <video class="video-preview" muted autoplay loop alt="{{ project.title }}">
                    <source type="video/mp4" src="/content/{{ project.folder }}/reduced.mp4" />
                </video>
                <div class="gallery-item-content">
                    <h1 class="gallery-title">{{ project.title }}</h1>
                    <h2 style="text-align: center;">
                        <span style="display: inline-block; vertical-align: middle;">🎥 : {{ project.videast.name }}</span>
                    </h2>
                    <h2 style="text-align: center;">
                        <span style="display: inline-block; vertical-align: middle;">🎵 : {{ project.musician.name }}</span>
                    </h2><h2></h2>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<style>

    .container
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .video-background
    {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-preview
    {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }

</style>