---
title: Cookie Compilation
---
{%include "head.njk" %}
{%include "navigation.njk" %}

<div class="container">
    <video autoplay muted loop>
        <source src="/media/ccc.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="card">
        <div class="too-much frost">
            <div class="frost">
                <p lang="en">Our concept is straightforward: an audiovisual compilation centered around a main theme; Divagation.
                    This single word is an intriguing starting point that encourages personal exploration, allowing each individual’s
                    peculiarity to shine through. It’s also a remarkably versatile/generic theme.</p>
                <br>
                <br>
                <p>Some definitions:</p>
                <ul>
                    <li lang="en">The act of wandering here and there, out of place.</li>
                    <li lang="en">The act of a mind drifting, wandering at the whim of its own reverie.</li>
                    <li lang="en">Contravention for letting animals wander on public roads.</li>
                    <li lang="en">Displacement, total or partial, permanent or temporary, of a river bed.</li>
                </ul>
                <p lang="en">Synonyms: <i>elucubration</i> - <i>extravagance</i> - <i>incoherence</i> - <i>rambling</i> - <i>reverie</i> - <i>daydream</i>.</p>
                <br>
                <br>
                <p lang="en">First, people created videos; then, some other people added music or noise to fit with the visuals.
                Our goal through this project is to create a broadcasting space for productions and/or techniques that do not have one (or not enough).
                We are trying to bring people together, to foster collaboration between visual and sonic arts.
                That's how you ended up viewing this U.F.O (Unidentified Freeform Object), lighting up your retina and tingling your eardrums.</p> 
                <br>
                <br>

                <p lang="en">The Cookie Collective is a human organization. It has existed de facto since 2016.
                    Most of its members are based in France, especially in the Greater Paris area. Others live and are active all over France.
                    Some of us see themselves as technicians; some as artists; some keep pondering this existential question.
                    Others just don't care asking themselves what they are or what they do.</p>
                <br>
                <br>
                <p lang="en"> The collective once focused extensively on realtime visual arts. However, the last three years saw a great
                    development of musical works in our collective work.
                    This project aims to bring back the visual aspect to the front of the stage. It's a kind of travel through time, or rather
                    to an alternative present which honors the first years of the collective, a tribute to our livecoding pioneers.</p>
            </p>
        </div>
    </div>
</div>

<style>

    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        border-left: 0.5rem solid white;
        border-right: 0.5rem solid white;
        position: absolute;
        top: 15%;
        margin-left: 10%;
        margin-right: 10%;
        animation: float 10s linear infinite;
    }

    @keyframes float {

        0% {
            transform: translateY(0) rotate(1deg);
        }
        25% {
            transform: translateY(-5px) rotate(0deg);
        }
        50% {
            transform: translateY(-10px) rotate(-1deg);
        }
        75% {
            transform: translateY(-5px) rotate(0deg);
        }
        100% {
            transform: translateY(0) rotate(1deg);
        }

    }

    .title {
        display: block;
        padding: 5px 20px;
        font-size: 9em;
        color: white;
    }


    .too-much {
        padding: 1%;
        overflow-y: scroll;
        max-height: 70vh;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }

    .too-much::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    ul {
        font-size: 2em;
        color: white;
        padding-left: 2em;
        padding-right: 5%;

    }

    p {
        display: inline;
        text-align: justify;
        font-size: 2em;
        color: white;
        hyphens: auto
        padding-left: 5%;
        padding-right: 5%;
        hyphens: auto;
    }
</style>
