---
pagination:
    data: projects
    size: 1
    alias: project
permalink: "projects/{{ project.title | slugify }}/"
---
{% include "head.html" %}
{% include "navigation.html" %}

<div class="page-container">
    <div class="background"></div>
    <div class="head">
        <video class="view box-shadow borders" controls>
            <source src="/content/{{ project.folder }}/clip.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container">
        <div class="column frost">
            <h2>{{ project.videast.name }}</h2>
            <h3>artiste visuel</h3>
            
            {% for paragraph in project.videast.bio %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            
            {% for paragraph in project.videast.description %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            
            {% for link in project.videast.links %}
            <p><a href={{ link.url }} target="_blank">{{ link.name }}</a></p>
            {% endfor %}

            {% for sources in project.videast.sources %}
            <p class="button">
                <a href="/content/{{ project.folder }}/more/{{ sources.file }}" target="_blank">
                    {{ sources.name }}
                </a>
            </p>
            {% endfor %}

        </div>
        <div class="column frost">

            <h2>{{ project.musician.name }}</h2>
            <h3>artiste musicien</h3>
            
            {% for paragraph in project.musician.bio %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            
            {% for paragraph in project.musician.description %}
            <p>{{ paragraph }}</p>
            {% endfor %}
            
            {% for link in project.musician.links %}
            <p class="button">
                <a href={{ link.url }} target="_blank">{{ link.name }}</a>
            </p>
            {% endfor %}

            <br/>

            {% for sources in project.musician.sources %}
            <p class="button">
                <a href="/content/{{ project.folder }}/more/{{ sources.file }}" target="_blank">
                    {{ sources.name }}
                </a>
            </p>
            {% endfor %}

        </div>
    </div>
    
</div>

<style>
    
    .page-container
    {
        background: black;
    }

    .background
    {
        background: center / contain url("/content/{{ project.folder }}/screenshot.png") ;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(8px);
    }
    
    .container
    {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }
    
    .column
    {
        color: white;
        flex: 1;
        min-width: 200px;
        max-width: 500px;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        z-index: 1;
        position: relative;
        overflow: auto;
    }

    .head
    {
        position: relative;
        max-width: 1080px;
        margin: auto;
        padding: 10px;
    }

    h3
    {
        margin: 0;
    }

    .view
    {
        position: relative;
        width: 100%;
    }

    .button
    {
        margin-top: 20px;
        margin-left: -10px;
        display: inline-block;
    }

    .button a
    {
        border-radius: 20px;
        background-color: white;
        color: black;
        padding: 10px;
        text-decoration: none;
    }

    .button a:hover
    {
        background-color: black;
        color: white;
    }
    
</style>