---
pagination:
    data: projects
    size: 1
    alias: project
permalink: "projects/{{ project.title | slugify }}/"
---
{% include "head.html" %}
{% include "navigation.html" %}

<div class="page-container">
    
    <div class="container">
        <img class="preview" src="/content/{{ project.folder }}/screenshot.png" />
        <div class="column frost">
            <h2>{{ project.videast.name }}</h2>
            <p>{{ project.videast.bio }}</p>
            <p>{{ project.videast.description }}</p>
        </div>
        <div class="column frost">
            <h2>{{ project.musician.name }}</h2>
            <p>{{ project.musician.bio }}</p>
            {% for link in project.musician.links %}
            <p><a href={{ link.url }}>{{ link.name }}</a></p>
            {% endfor %}
        </div>
    </div>
    
</div>

<style>
    
    .page-container
    {
        position: absolute;
        top: var(--navigation-size);
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .preview
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .container
    {
        display: flex;
    }
    
    .column
    {
        color: white;
        flex: 1;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        z-index: 1;
    }
    
</style>