---
pagination:
    data: processedProjects
    size: 1
    alias: project
permalink: "projects/{{ project.folder | slugify }}/"
---

{% include "head.njk" %}
{% include "navigation.njk" %}


<div class="page-container">
    <div class="background"></div>
    <div class="content-wrapper">
        <div class="column videast-column">
            <div class="text-icon-combo"><h2>{% phosphor "eye" %}</h2> <h2>Video</h2></div>
            {% if project.videast.bio %}
                <fieldset>
                    <legend>Biography: <b>{{project.videast.name }}</b></legend>
                    <div class="project-text-content">{{ project.videast.bio | safe }}</div>
                </fieldset>
            {% endif %}
            {% if project.videast.description %}
                <fieldset>
                    <legend>Description</legend>
                    <div class="project-text-content">{{ project.videast.description | safe }}</div>
                </fieldset>
            {% endif %}
            {% if project.videast.links|length > 0 %}
                <fieldset>
                    <legend>Links</legend>
                    {% for link in project.videast.links %}
                        <div class="ressource-button">
                            <p class="button"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></p>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endif %}
            {% if project.videast.sources|length > 0 %}
                <fieldset>
                    <legend>Resources</legend>
                    {% for sources in project.videast.sources %}
                        <div class="ressource-button">
                            <p class="button">
                                <a href="/content/{{ project.title | slugify }}/more/{{ sources.file }}" target="_blank">
                                    {{ sources.name }}
                                </a>
                            </p>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endif %}
        </div>

        <div class="column video-column">
            <div class="project-title"</div>
                <h2>{% phicon "projector-screen" %}</h2>
                <h2>{{project.videast.name}} X {{project.musician.name}} &mdash; {{project.title}}</h2> 
            </div>
            <video class="view box-shadow borders" controls>
                <source src="/content/projects/{{ project.folder | slugify }}/clip.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="column musician-column">
            <div class="text-icon-combo"><h2>{% phosphor "ear" %}</h2><h2>Music</h2> </div>
            {% if project.musician.bio %}
                <fieldset>
                    <legend>Biography: <b>{{project.musician.name}}</b></legend>
                    <div class="project-text-content">{{ project.musician.bio | safe }}</div>
                </fieldset>
            {% endif %}
            {% if project.musician.description %}
                <fieldset>
                    <legend>Description</legend>
                    <div class="project-text-content">{{ project.musician.description | safe }}</div>
                </fieldset>
            {% endif %}
            {% if project.musician.links|length > 0 %}
                <fieldset>
                    <legend>Links</legend>
                    {% for link in project.musician.links %}
                        <div class="ressource-button">
                            <p class="button"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></p>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endif %}
            {% if project.musician.sources|length > 0 %}
                <fieldset>
                    <legend>Resources</legend>
                    {% for sources in project.musician.sources %}
                        <div class="ressource-button">
                            <p class="button">
                                <a href="/content/{{ project.title | slugify }}/more/{{ sources.file }}" target="_blank">
                                    {{ sources.name }}
                                </a>
                            </p>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endif %}
        </div>
    </div>
</div>

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .text-icon-combo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .project-title {
        padding-top: 5px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .page-container {
        overflow: hidden;
        @media (max-width: 1024px) {
            overflow: visible;
        }
        margin: 0;
        height: 100vh;
        min-height: 100vh;
        background: black;
        color: white;
        position: relative;
        padding-top: 25px;
    }

    .background {
        background: center / cover url("/content/projects/{{ project.folder }}/screenshot.png") no-repeat fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(0px);
        z-index: 0;
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        max-height: 90vh;
        margin: 0 auto;
        padding: 0px;
        padding-top: 50px;
        position: relative;
        z-index: 1;
    }

    .column {
        max-height: 100vh;
        flex: 1;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        margin: 0 5px;
        overflow-y: auto;
        scrollbar-width: none; /* Hide scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .column::-webkit-scrollbar {
        display: none;
    }

    .video-column {
        padding-top: 10px;
        flex: 2;
    }

    .view {
        width: 100%;
        margin: 0 auto;
    }

    fieldset {
        border: 1px solid white;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }

    legend {
        padding: 0 10px;
    }

    .button a {
        display: block;
        background-color: white;
        color: black;
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        width: 93%;
    }

    .button a:hover {
        background-color: black;
        color: white;
    }

    @media (max-width: 1024px) {

        .page-container {
            padding-top: 50px;
            overflow: visible;
            height: auto;
            min-height: auto;
        }

        .content-wrapper {
            overflow: visible;
            flex-direction: column;
            max-height: none;
            padding-top: 20px;
        }

        .column {
            max-height: none;
            overflow-y: visible;
            margin: 10px 0;
        }

        // .video-column {
        //     order: -1;
        // }

        .video-column {
            padding-top: 10px;
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .view {
            width: 100%;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }




        body, html {
            height: auto;
            overflow-y: auto;
        }

        .ressource-button {
            display: flex;
            justify-content: center;
        }

        .button {
            width: 85%;
        }

        .button a {
            width: 100%;
            text-align: center;
        }

    }

</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const videoColumn = document.querySelector('.video-column');
    const videastColumn = document.querySelector('.videast-column');
    const musicianColumn = document.querySelector('.musician-column');
    const contentWrapper = document.querySelector('.content-wrapper');

    function handleResize() {
        if (window.innerWidth <= 1024) {
            if (videastColumn.nextElementSibling !== musicianColumn) {
                contentWrapper.appendChild(videoColumn);
                contentWrapper.appendChild(videastColumn);
                contentWrapper.appendChild(musicianColumn);
            }
        } else {
            if (videastColumn.nextElementSibling !== videoColumn) {
                contentWrapper.appendChild(videastColumn);
                contentWrapper.appendChild(videoColumn);
                contentWrapper.appendChild(musicianColumn);
            }
        }
    }

    window.addEventListener('resize', handleResize);
    handleResize(); // Call once to set initial state
});
</script>