---
pagination:
    data: processedProjects
    size: 1
    alias: project
permalink: "projects/{{ project.folder | slugify }}/"
---

{% include "head.njk" %}
{% include "navigation.njk" %}
<div class="page-container">
    <div class="background"></div>
    <div class="head">
        <video class="view box-shadow borders" controls>
            <source src="/content/projects/{{ project.folder | slugify }}/clip.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="tab-wrap box-shadow borders head frost">

        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1"><b>Video 🎥</b></label>

        <input type="radio" id="tab2" name="tabGroup1" class="tab">
        <label for="tab2"><b>Music 🎶</b></label>

    <div class="tab__content">
        <div class="flex" style="display: flex; justify-content: space-between; align-items: center;">
        </div>
            
        {% if project.videast.bio %}
            <fieldset>
                <legend>Biography: {{project.videast.name }}</legend>
                <div class="project-text-content">{{ project.videast.bio | safe }}</div>
            </fieldset>
        {% endif %}
            
        {% if project.videast.description %}
            <fieldset>   
                <legend>Description</legend>
                <div class="project-text-content">{{ project.videast.description | safe }}</div>
            </fieldset>
        {% endif %}

        {% if project.videast.links|length > 0 %}
            <fieldset>   
                <legend>Links</legend>
                {% for link in project.videast.links %}
                    <div class="ressource-button">
                        <p class="button"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></p>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if project.videast.sources|length > 0 %}
            <fieldset>
                <legend>Ressources</legend>
                {% for sources in project.videast.sources %}
                    <div class="ressource-button">
                        <p class="button">
                            <a href="/content/{{ project.title | slugify }}/more/{{ sources.file }}" target="_blank">
                                {{ sources.name }}
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}

    </div>

    <div class="tab__content">
        <div class="flex" style="display: flex; justify-content: space-between; align-items: center;">
        </div>

        {% if project.musician.bio %}
            <fieldset>
                <legend>Biography: {{project.musician.name}}</legend>
                <div class="project-text-content">{{ project.musician.bio | safe }}</div>
            </fieldset>
        {% endif %}
            
        {% if project.musician.description %}
            <fieldset>
                <legend>Description</legend>
                <div class="project-text-content">{{ project.musician.description | safe }}</div>
            </fieldset>
        {% endif %}

        {% if project.musician.links|length > 0 %}
            <fieldset>
                <legend>Links</legend>
                {% for link in project.musician.links %}
                    <div class="ressource-button">
                        <p class="button"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></p>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if project.musician.sources|length > 0 %}
            <fieldset>
                <legend>Ressources</legend>
                {% for sources in project.musician.sources %}
                    <div class="ressource-button">
                        <p class="button">
                            <a href="/content/{{ project.title | slugify }}/more/{{ sources.file }}" target="_blank">
                                {{ sources.name }}
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}

    </div>
  </div>
</div>

<style>
    
    .page-container
    {
        margin-top: 60px;
        background: black;
    }
    
    .background
    {
        background: center / contain url("/content/projects/{{ project.folder }}/screenshot.png") ;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: blur(8px);
    }
    
    .container
    {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }
    
    .column
    {
        color: white;
        flex: 1;
        min-width: 200px;
        max-width: 500px;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        z-index: 1;
        position: relative;
    }

    .head
    {
        position: relative;
        max-width: 1080px;
        margin: auto;
        padding: 10px;
    }

    h3
    {
        margin: 0;
    }

    .role
    {
        font-size: 40px;
    }

    .view
    {
        position: relative;
        width: 100%;
    }

    .button
    {
        margin-top: 10px;
        display: inline-block;
    }

    .button a
    {
        border-radius: 20px;
        background-color: white;
        color: black;
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.5s, color 0.5s;
    }

    .button a:hover
    {
        background-color: black;
        color: white;
    }

    
</style>